/** Add css rules here for your application. */
/* 
body {
   margin: -5px;
   padding: 0;
} */



.fb-fanpage-link a:link {
    background-color: white;
    font-family: cursive;
    color: #4267B2;
}

.fb-fanpage-link a:visited {
    background-color: white;
    color: #4267B2;
}

.fb-fanpage-link a:hover {
    background-color: #C8DFFF;
    color: #777777;
}

.fb-fanpage-link a:active {
    background-color: #4267B2;
    color: white;
}
/**
.facebook_sso_div {
	background-color: #4267B2;
	margin: 0px auto;
	width: 600px;
	height:50px;
	text-align:center
}
*/
.facebook_sso_btn {
	background-color: #4267B2;
	text-align:center;
	color: white;
	border-color: #2e6da4;
}
.facebook_sso_btn:hover  {
	background-color: #1D4B7F;
	text-align:center;
	color: white;
	border-color: #2e6da4;
}
.facebook_sso_btn:active {
	background-color: #183A62;
	text-align:center;
	color: white;
	border-color: #2e6da4;
}

.facebook_sso_div {
	margin-top: 0.2cm;
	margin-bottom: -10px;
	text-align:center;
}

.facebook_sso_div_hide {
	text-align:center;
	display: none
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ul {
    list-style-type: none;
    margin-left:-10em;
} */

.love_theme_img {
	width: 240px; 
	height: 234px;
	 float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google_form_img {
	width: 120px; 
	height: 60px;
	 float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    z-index:99999;position: relative;
}

.iframe_google_form {
	display: block
}
.iframe_google_form_hide {
	display: none
}
/* .love_theme_img_small {
	width: 180px; 
	height: 176px;
	 float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
